section {
    margin: 10px 15%;
    font-family: Avenir, Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coverPhoto {
    width: 100%;
    object-fit: cover;
    max-height: 450px;
    height: auto;
}

.pageTitle {
    font-size: 38pt;
    margin-top: 20px;
}

.pageDescription {
    margin: 40px;
    text-align: justify;
    line-height: 28px;
}

.tables {
    display: flex;
}

.price-table {
    flex: 1;
    margin: 40px;
}

.tableTitle {
    margin: 20px;
    flex: 1;
    white-space: nowrap;
}

.headers {
    display: flex;
}