.concertRecording {
    margin: 10px 0px;
    font-size: 18pt;
}

.playerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

@media (max-width: 900px) {
    .concertRecording {
        width: 400px;
        font-size: 15pt;
    }
}

@media (max-width: 750px) {
    .recordingTitle {
        width: 300px;
        font-size: 13pt;
        margin: auto;
        text-align: center;
    }
}