.artistRowLeft {
    display: flex;
    flex-direction: row;
}

.artistRowRight {
    display: flex;
    flex-direction: row-reverse;
}

.instrument {
    font-style: italic;
    font-weight: normal;
}

@media (max-width: 750px) {
    .artistRowLeft,
    .artistRowRight {
        flex-direction: column;
    }
}

.photoCaptionContainer {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.profilePhoto {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    grid-area: profilePhoto;
}

.bio {
    grid-area: bio;
    padding: 45px 45px;
}

.profileName {
    grid-area: profileName;
    margin: 10px;
    font-weight: bold;
    display: block;
}
