#repertoireBody {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

#repertoireColumn {
    width: 100%;
    height: fit-content;
    min-height: 300px;
}

#recordingColumn {
    width: 550px;
    height: fit-content;
}

.musicSubtitle {
    font-size: 22pt;
}

@media (max-width: 1150px) {
    #repertoireBody {
        flex-direction: column;
    }

    #repertoireColumn .repertoireAccordian {
        width: 100%;
        min-width: 400px;
    }
}